<%= form_for @study do |f| %>
  <p>
    Programming Language: <%= f.text_field :programming_language %><br />
  </P>
  <p>
    Topic: <%= f.text_field :topic %><br/>
  </p>
  <p>
    Source : <%= f.text_field :source %><br/>
  </p>
  <p>
    Description : <%= f.text_field :description %><br/>
  </p>
  <p>
    Mood : <%= f.text_field :mood %><br/>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
