<h1>Listing All Studies</h1>

<table>
    <tr>
        <th>Programming Language</th>
        <th>Topic</th>
        <th>Source</th>
        <th>Description</th>
        <th>Mood</th>
    </tr>

    <% @studies.each do |study| %>
    <tr>
        <td><%= study.programming_language %></td>
        <td><%= study.topic %></td>
        <td><%= study.source %></td>
        <td><%= study.description %></td>
        <td><%= study.mood %></td>
        <td><%= link_to 'Edit', edit_study_path(study) %></td>
        <td><%= link_to 'Show', study_path(study) %></td>

    </tr>
    <% end %>
</table>