<h1>Showing selected study</h1>

<p>Programming Language: <%= @study.programming_language %>
</p>

<p>Topic: <%= @study.topic %>
</p>

<p>Source: <%= @study.topic %>
</p>

<p>Description: <%= @study.description %>
</p>

<p>Mood: <%= @study.mood %>
</p>

<%= link_to "Edit Study", edit_study_path(@study) %> |
<%= link_to "Back to study listings", studies_path %>