<!DOCTYPE html>
<html>
  <head>
    <title>Studylog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
     <script src="https://kit.fontawesome.com/fed2e52857.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <% flash.each do |name, msg| %>
    <ul>
      <li><%= msg %></li>
    </ul>
    <% end %>

  <nav>
        <a href=""><%= link_to 'Home', root_path%></a>
        <a href="about">About Me</a>
        <a href="studies/new">Log a New Study</a>
        <a href=""><%= link_to 'All Studies', studies_path%></a>
        <a href="progress">Progress</a>
        <a href="contact"><i class="far fa-address-book"></i>  Contact</a>
    </nav>
   
    <%= yield %>
  </body>
</html>
